<p>
  <strong>Name:</strong>
  <%= @beer_club.name %>
</p>

<p>
  <strong>Founded:</strong>
  <%= @beer_club.founded %>
</p>

<p>
  <strong>City:</strong>
  <%= @beer_club.city %>
</p>
<h3>Members</h3>
<p>
  <% @confirmed_members.each do |member| %>
    <li><%= link_to member.username, member %></li>
<% end %>
</p>

<% if current_user %>
    <% if @beer_club.members.include?(current_user) && @membership.confirmed %>

        <h3>Outstanding applications</h3>
        <p>
          <% @unconfirmed_members.each do |member| %>
            <li><%= link_to member.username, member %> <%= link_to 'confirm', confirm_membership_path(@membership.id), method: :post, class: 'btn btn-primary'%></li>
        <% end %>
        </p>

        <% if @beer_club.memberships.count <= 1 %>
            <%= link_to 'end the membership and destroy the club', @membership, method: :delete, class:'btn btn-danger' %>
        <% else %>
            <%= link_to 'end the membership', @membership, method: :delete, class:'btn btn-danger' %>
        <% end %>
    <% else %>
        <%= form_for(@membership, method: :post) do |f| %>
            <%= f.hidden_field :beer_club_id %>
            <%= f.submit "join the club", class:'btn btn-success' %>
        <% end %>
    <% end %>
    <br>
    <br>
    <%= edit_and_destroy_buttons(@beer_club) %>
<% end %>
<br>
<%= link_to 'Back', beer_clubs_path, class: 'btn btn-default' %>
