<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<p>has made
  <%= @user.ratings.count %>
  ratings with average of
  <%= @user.average_rating %>
</p>

<p>
  <% if @user.beer_clubs.empty? %>
      <%= @user.username %> has not yet joined in any beer clubs.
  <% else %>
    <p>Beer Clubs:
      <% @user.beer_clubs.each do |club| %>
          <%= link_to club.name, club %>
      <% end %>
    </p>
<% end %>
</p>

<% if not @user.ratings.empty? %>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Beer</th>
        <th>Rating</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @user.ratings.each do |rating| %>
          <tr>
            <td><%= link_to rating.beer.name, rating.beer %></td>
            <td><%= rating.score %></td>
            <% if @user == current_user %>
                <td><%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-danger' %></td>
            <% end %>
          </tr>
      <% end %>
      </tbody>
    </table>
    <p>Favorite style: <%= @user.favorite_style %></p>
    <p>Favorite brewery: <%= link_to @user.favorite_brewery.name, @user.favorite_brewery %></p>
<% end %>

<% if @user == current_user %>
    <%= edit_and_destroy_buttons(@user) %>|
<% end %>
    <%= link_to 'Back', users_path, class:'btn btn-default' %>
