<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>

<p>has made
<%= @user.ratings.count %>
ratings with average of
<%= @user.average_rating %>
</p>
<table>
  <thead>
  <tr>
    <th>Beer</th>
    <th>Rating</th>
    <th colspan="3"></th>
  </tr>
  </thead>


  <tbody>
  <% @user.ratings.each do |rating| %>
      <tr>
        <td><%= rating.beer.name %></td>
        <td><%= rating.score %></td>
        <td><%= link_to 'Delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
