<p id="notice"><%= notice %></p>

<h2>List of ratings</h2>

<p>Number of ratings: <%= @ratings.count %></p>

<ul>
  <% @ratings.each do |rating| %>
      <li> <%= rating %> <%= link_to rating.user.to_s, rating.user %> </li>
  <% end %>
</ul>

<% if not current_user.nil? %>
    <%= link_to 'New Rating', new_rating_path %>
<% else %>
    <p>Please sign in to make new ratings.</p>
<% end %>
