<p id="notice"><%= notice %></p>

<h1>
  <strong><%= @style.name %></strong>
</h1>

<p>
  <%= @style.description %>
</p>

<ul>
  <% @beers.each do |beer| %>
      <li> <%= beer %> </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_style_path(@style) %> |
<%= link_to 'Back', styles_path %>
