<p id="notice"><%= notice %></p>

<h2><%= @brewery.name %>
    <% if not @brewery.active %>
      <span class="label label-info">retired</span>
    <% end %>
</h2>

<p>
  <h3><i>Established in <%= @brewery.year %></i></h3>
</p>

<p>Number of beers: <%= @brewery.beers.count %></p>

<p>
  <% @brewery.beers.each do |beer| %>
      <%= link_to beer.name, beer %>
  <% end %>
</p>

<% if @brewery.ratings.empty? %>
    Breweries beers has not yet been rated!
<% else %>
    <p>Has <%= pluralize(@brewery.ratings.count, 'rating','ratings')%>
      , average <%= @brewery.average_rating.round(1) %></p>
<% end %>

<br>

<%= link_to 'Edit', edit_brewery_path(@brewery), class:'btn btn-default' %>
<%= link_to 'Back', breweries_path, class:'btn btn-default' %>
